body {
    background-color: #1E1E1E;
    color: #D4D4D4;
}

button {
    display: block;
    border: 0px;
    padding: 10px;
    color: #D4D4D4;
    width: 100%;
}

button:active {
    background-color: #707070;
}

input, select {
    display: block;
    background-color: #D4D4D4;
    border: 0px;
    height: 25px;
    width: 400px;
    padding: 2px;
}

textarea {
    display: block;
    background-color: #D4D4D4;
    border: 0px;
    height: 200px;
    width: 400px;
    padding: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 190px);
    grid-column-gap: 20px;
    margin-bottom: 10px;
}

.form-inline {
    display: grid;
    grid-template-columns: 30px 60px 30px 60px;
    grid-column-gap: 20px;
    width: 240px;
    margin: auto;
}

label.center {
    margin: auto;
}

.searchbar {
    display: grid;
    grid-template-columns: 150px 300px 150px;
    grid-column-gap: 10px;
    margin-top: 10px;
    margin: auto;
}

.active-button {
    background-color: #007ACC;
}

.inactive-button {
    background-color: #3A3D41;
}

.filter-button-container {
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-column-gap: 3px;
}

.filter-button {
    font-size: 10px;
    padding: 3px;
}

.ascending, .descending {
    font-size: 12px;
}

.ascending {
    color: #4EC9B0;
}

.descending {
    color: #D16969;
}

.popup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    border: 10px solid #3A3D41;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    z-index: 9;
}

#add-task-popup {
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    width: 500px;
    height: 500px;
}

#clear-confirmation-popup {
    top: calc(50% - 35px);
    left: calc(50% - 250px);
    width: 400px;
}

.hidden {
    display: none;
}

#blocker {
    display: none;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

table, tr, th, td {
    border: 0px;
}

th {
    padding: 8px;
}

td {
    padding: 3px;
}

tr:first-child {
    background: #007ACC;
}

#task-table tr:nth-child(2n+2) {
    background: #0E0E0E;
}

#task-table tr:nth-child(2n+3) {
    background: #2E2E2E;
}

#calendar-body tr:nth-child(odd) {
    background: #0E0E0E;
}

#calendar-body tr:nth-child(even) {
    background: #2E2E2E;
}

hr {
    display: block;
    border: 3px solid #707070;
}

#calendar {
    margin-top: 20px;
}

.today, .current-month-day, .prev-next-month-day {
    height: 150px;
}

.today {
    border: 2px solid #007ACC;
}

.current-month-day, .prev-next-month-day {
    border: 2px solid rgba(0, 0, 0, 0);
}

.prev-next-month-day {
    opacity: 0.4;
}

.subtable {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    table-layout: fixed;
    width: 100%;
}

.subtable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}